<html>
    <head>
        <style>
            table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <table style="width:100%">
            <tr>
              <th></th>
              <th scope="col">header1</th>
              <th scope="col">header2</th>
              <th scope="col">header3</th>
            </tr>
            <tr>
              <th scope="row">header 1</th>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">header 2</th>
              <td>2</td>
              <td>2</td>
              <td>2</td>
            </tr>
            <tr>
              <th scope="row">header 3</th>
              <td>3</td>
              <td>3</td>
              <td>3</td>
            </tr>
          </table>
          <script>
              $('table').find('td').each(function() {
  $(this).click(function() {
    $('table td').not($(this)).prop('contenteditable', false);
    $(this).prop('contenteditable', true);
  });
  $(this).blur(function() {
    $(this).prop('contenteditable', false);
  });
});
          </script>
    </body>
</html>